<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Sobre Nosotros</h3>
            <p>En esta página encontrarás el catálogo más completo de películas y actores.</p>
        </div>
     
        <div class="footer-section">
            <div class="social-links">
                <a href="#"><img src="/images/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="/images/twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="/images/instagram.svg" alt="Instagram"></a>
            </div>
        </div>
    </div>
</footer>