form .ng-pristine {
  border-color: rgb(255, 44, 157);
  box-shadow: 5px 5px 5px rgb(255, 44, 157);
}
form .ng-dirty {
  border-color: #00ff00;
  box-shadow: 5px 5px 5px #00ff00;
}
form .ng-invalid {
  border-color: red !important;
  box-shadow: 5px 5px 5px red !important;
  margin-right: 10px;
  transform: scale(1.02);
  transition: all linear 1s;
}
form .ng-invalid-parse {
  transition: all linear 1s;
}
