form .ng-pristine {
  border-color: rgb(255, 105, 225);
  box-shadow: 5px 5px 5px hsl(255, 105, 225);
}
form .ng-dirty {
  border-color: rgb(0, 255, 0);
  box-shadow: 5px 5px 5px rgb(0, 255, 0);
}
form .ng-invalid {
  border-color: red !important;
  box-shadow: 5px 5px 5px red !important;
  margin-right: 10px;
  transform: scale(1.02);
  transition: all linear 1s;
}
form .ng-invalid-parse {
  transition: all linear 1s;
}
