a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(124, 59, 130);
}

th {
    background-color: black;
    color: #fff;
    padding: .3rem 1rem;
    line-height: 5rem;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 200;
}

.card__actor {
    padding: 2rem 1rem;
}