<header>
    <div class="header-container">
        <div class="logo">
            <h1>Catálogo</h1>
        </div>

        <img src="/images/camera.png" alt="camera">
        
        <nav>
            <ul>
                <li><a data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/home">Inicio</a></li>
                <li><a data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/actores/v2">Actores</a></li>
                <li><a data-bs-dismiss="offcanvas" routerLinkActive="active" routerLink="/peliculas/v1">Películas</a></li>
              </ul>
        </nav>
    </div>
</header>